// Colour Variables

$darknavy: #1c3347;
$navygray: #2b6393;
$lightnavygray: #497193;

$brand-primary: $darknavy;
$brand-secondary: $navygray;
$brand-tertiary: $lightnavygray;


// Font Variables
$questrial-stack: 'Questrial', sans-serif;
$roboto-stack: 'Roboto', sans-serif;

$font-header: $questrial-stack;
$font-body: $roboto-stack;
